// Provides CHPC-specific nextflow configuration required to run EPI2ME Labs's
//   bioinformatics workflows.
// Nominally, this config file will be passed to nextflow via its -c/--config
//   option; i.e., this config is presumed to take precedence over the workflow's
//   {base,nextflow}.config files, but not over options passed at runtime.

profiles {
  chpc {
    singularity {
      enabled = true
      autoMounts = true
      envWhitelist = "CUDA_VISIBLE_DEVICES"           // NOTE: untested
    }
    process {
      executor = 'pbspro'
      clusterOptions = "-P ${env('RESEARCH_PROGRAMME')}"
      module = ['chpc/singularity']
      withLabel:gpu { containerOptions = "--nv" }     // NOTE: untested
    }
  }
  serial {
    executor.$pbspro.queueSize = 40
    process {
      queue = 'serial'
      cpus = 24
      memory = 64.GB
      time = 48.h
    }
  }
  seriallong {
    executor.$pbspro.queueSize = 24
    process {
      queue = 'seriallong'
      cpus = 12
      memory = 64.GB
      time = 144.h
    }
  }
}
