// Provides CHPC-specific nextflow configuration required to run EPI2ME Labs's
//   bioinformatics workflows.
// Nominally, this config file will be passed to nextflow via its -c/--config
//   option; i.e., this config is presumed to take precedence over a workflow's
//   {base,nextflow}.config files, but not over options passed at runtime.

singularity {
  enabled = true
  autoMounts = true
  envWhitelist = "CUDA_VISIBLE_DEVICES"                   // NOTE: untested
}
process."withLabel:gpu".containerOptions = "--nv"         // NOTE: untested

profiles {
  // NOTE: The standard profile block here mostly serves to nullify what EPI2ME
  //        usually sets up in base.config. Since singularity is (effectively)
  //        the only option on the CHPC, epi2me-wf-tools handles its
  //        configuration outside the profiles scope.
  standard {
    docker.enabled = false
    process."withLabel:gpu".containerOptions = "--nv"     // NOTE: untested
  }

  // NOTE: The head job itself (which handles processes via qsub calls) can run
  //        on any (suitable) queue. The queue specified here controls the
  //        queue to which said head job should submit jobs.
  head_job {
    process {
      executor = 'pbspro'
      clusterOptions = "-P ${env('RESEARCH_PROGRAMME')}"
      module = ['chpc/singularity']

      // NB: When changing queue, check (or change) time and queueSize.
      queue = 'serial'
      time = 48.h
    }
    executor.$pbspro.queueSize = 40
  }
}
