// Provides CHPC-specific nextflow configuration for running the
//  epi2me-labs/wf-human-variation workflow.
// Nominally, this config file will be passed to nextflow via its -c/--config
//  option; i.e., this config is presumed to take precedence over the workflow's
//  {base,nextflow}.config files, but not over options passed at runtime.

workDir = "/mnt/lustre/users/$USER/NXF_WORKDIR/${params.sample_name}"

params {
    projectID='CBBI1691'
    out_dir="/mnt/lustre/users/$USER/NXF_OUTPUT/${params.sample_name}"
}

profiles {
    singularity {
        singularity.runOptions = "--bind /mnt/lustre/groups/${params.projectID}/SAMPLES:ro"
    }
}

timeline.file = "${params.out_dir}/execution/timeline.txt"
report.file = "${params.out_dir}/execution/report.txt"
trace.file = "${params.out_dir}/execution/trace.txt"
